<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none text-3xl">
        <!-- <h1 class="bi me-2" width="40" height="32"  aria-label="Bootstrap"></h1> -->
        <h1>Notes</h1>
        
      </a>

      <div class="col-md-3 text-end">
        <a href="/google/auth" type="button" class="btn btn-outline-primary me-2">Sign-up</a>
        <a href="google/auth" type="button" class="btn btn-primary">Sign-in</a>
      </div>
    </header>
  </div>